#cs1300-gallery {
  background-color: lightblue;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */

img {
  width: 500px;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery-container {
  /* add styles */
  align-items: center;
  align-content: center;
  justify-content: center;
}
